// Colors
$dark-blue-01: rgba(13, 30, 40, 1);
$pure-white: rgb(255, 255, 255);
$white-02: rgb(247, 247, 247);
$light-blue-01: rgb(52, 217, 195);
$gray-02: rgba(13, 30, 40, 0.8);
$dark-blue-02: rgba(0, 187, 244, 0.15);
$light-blue-02:  rgb(0, 187, 244);
$transparent-black: rgba(0, 0, 0, 0.5);

// Fonts
$saira-semi-condensed: 'Saira Semi Condensed', 'Helvetica Neue', sans-serif;

// Breakpoints
$breakpoint-mobile: 600px;
